<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heroes | Berners-Lee</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1 id="titulo">TIM BERNERS-LEE</h1>
  <nav id="navSubtitulos">
    <a class="subtitulos" href="/"> Home </a>
    <a class="subtitulos" href="/babbage"> Babbage </a>
    <a class="subtitulos" href="/berners-lee"> Berners-Lee </a>
    <a class="subtitulos" href="/clarke"> Clarke </a>
    <a class="subtitulos" href="/hamilton"> Hamilton </a>
    <a class="subtitulos" href="/hopper"> Hopper </a>
    <a class="subtitulos" href="/turing"> Turing </a>
    <a class="subtitulos" href="/lovelace"> Lovelace </a>
  </nav>
  <div id="imagenPersonaje"><img class="imagenPersonaje" src="/img/berners-lee.jpg" alt=""></div>
  <div>
    <p><b>Timothy "Tim" John Berners-Lee</b> (Londres, Reino Unido, 8 de junio de 1955), es un científico de la
      computación
      británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y
      un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide
      Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se
      fundamenta la Web y que permiten el funcionamiento de Internet
    </p>
    <p>
      Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más
      efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por
      sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto,
      el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform
      Resource Locator).
    </p>
    <p>
      Es posible encontrar muchas de las ideas plasmadas por Berners-Lee en el proyecto Xanadú (que propuso Ted Nelson)
      y el memex (de Vannevar Bush).
    </p>
  </div>
  <div>
    <h3>Indice</h3>
    <ol type="1">
      <li><a href="#biografia">Biografia</a></li>
      <li><a href="#desarrolloDeSuCa">Desarrollo de su carrera</a></li>
      <li><a href="#proyectosAct">Proyectos atuales</a></li>
      <li><a href="#controversiaSobre">Controversia sobre nombres de dominio</a></li>
      <li><a href="#publicaciones">Publicaciones</a></li>
    </ol>
  </div>
  <div>
    <h2 id="biografia">Biografía</h2>
    <p>Tim Berners-Lee nació en el sudoeste de Londres, Reino Unido, el 8 de junio de 1955. Sus padres eran Conway
      Berners-Lee y Mary Lee Woods.Sus padres eran matemáticos británicos y formaron parte del equipo que construyó
      el Manchester Mark I. Por ello, la orientación profesional le venía de familia, ya que sus padres
      se habían conocido en el proyecto de desarrollo del Ferranti Mark I, el primer ordenador comercial con programa
      almacenado desarrollado por la empresa Ferranti en marzo de 1951. Su padre, Conway Berners-Lee, y su madre, Mary
      Lee Woods, también fueron especialistas en computación; trabajaron con el equipo que construyó el Ferranti Mark
      l.Comenzó en la escuela primaria Sheen Mont y
    <blockquote><q>School, ambas en Londres, de 1969 a 1973. Estudió en Queen's
        College, de la Universidad de Oxford, de 1973 a 1976, donde recibió un título de primera clase de Física.
        Conoció a su primera esposa en este tiempo. En 1978, trabajó en D.G. Nash Limited (también en Poole) donde
        escribió un sistema operativo.</q></blockquote>
    </p>
    <h2 id="desarrolloDeSuCa">Desarrollo de su carrera</h2>
    <p>Berners-Lee trabajó en el CERN desde junio hasta diciembre de 1980. Durante ese tiempo, propuso un proyecto
      basado en el hipertexto para facilitar la forma de compartir y la puesta al día de la información entre
      investigadores. En este periodo también construyó un programa llamado ENQUIRE que no llegó a ver la luz.</p>
    <p>Después de dejar el CERN, en 1980, se fue a trabajar a la empresa de John Poole Image Computer Systems Ltd., pero
      regresó al CERN otra vez en 1984.</p>
    <p>En 1989, el CERN era el nodo de Internet más grande de Europa y Berners-Lee vio la oportunidad de unir Internet y
      el hipertexto (HTTP y HTML), de lo que surgiría la World Wide Web. Desarrolló su primera propuesta de la Web el 12
      de marzo de 1989, pero no tuvo mucho eco, por lo que en 1990 y con la ayuda de Robert Cailliau, hicieron una
      revisión que fue aceptada por su gerente, Mike Sendall. Usó ideas similares a las que había usado en el sistema
      Enquire, para crear la World Wide Web, para esto diseñó y construyó el primer navegador (llamado WorldWideWeb y
      desarrollado con NEXTSTEP) y el primer servidor Web al que llamó httpd (HyperText Transfer Protocol daemon).</p>
    <p>El primer servidor Web se encontraba en el CERN y fue puesto en línea el 6 de agosto de 1991. Esto proporcionó
      una explicación sobre lo que era el World Wide Web, cómo uno podría tener un navegador y cómo establecer un
      servidor Web. Este fue también el primer directorio Web del mundo, ya que Berners-Lee mantuvo una lista de otros
      sitios Web aparte del suyo. Debido a que tanto el software del servidor como del cliente fue liberado de forma
      gratuita desde el CERN, el corazón de Internet Europeo en esa época, su difusión fue muy rápida. El número de
      servidores Web pasó de veintiséis en 1992 a doscientos en octubre de 1995 lo que refleja cual fue la velocidad de
      la difusión de internet.</p>
    <p>En 1994 entró en el Laboratorio de Ciencias de la Computación e Inteligencia Artificial del Massachusetts
      Institute of Technology. Se trasladó a EE. UU. y puso en marcha el W3C, que dirige actualmente. El W3C es un
      organismo internacional de estandarización de tecnologías Web dirigido conjuntamente por el Instituto Tecnológico
      de Massachusetts, el ERCIM francés y la Universidad de Keiō en Japón. Este organismo decidió que todos sus
      estándares fuesen libres, es decir, que los pudiese utilizar todo el mundo libremente sin coste alguno, lo que sin
      lugar a dudas fue una de las grandes razones para que la Web haya llegado a tener la importancia que tiene hoy en
      día.</p>
    <p>En su libro Tejiendo la red, publicado en 1999, Berners-Lee explica por qué la tecnología web es libre y gratis.
      Se considera al mismo tiempo el inventor y el protector de la web</p>
    <p>Berners-Lee fue uno de los pioneros a favor de la neutralidad de red.</p>
    <p></p>
    <h2 id="proyectosAct">Proyectos actuales</h2>
    <p>Tim Berners-Lee fue crítico con las expectativas generadas alrededor de la Web 2.0 cuando se argumentó sobre esta
      plataforma que «si la web 1.0 conectaba ordenadores, la web 2.0 conecta personas». Tim opina que no se trata de
      una nueva generación de web sino una forma diferente y, eso si, mucho más capaz de desplegar aplicaciones sobre la
      misma plataforma de la web inventado por él. En este sentido, herramientas como las wikipedias o los blogs son
      unas herramientas que fomentan y potencian la participación y colaboración, pero, de hecho, no hay ningún
      componente tecnológico base que no existiera desde bastantes años antes.</p>
    <p>Berners-Lee desarrolló el concepto de intercreatividad considerado un aspecto vital del futuro de la web y que
      definía como:</p>
    <p>
    <blockquote><q>El proceso de hacer cosas o resolver problemas juntos. […] tenemos que ser capaces no solo de
        encontrar cualquier tipo de documento en la web, sino también de crear cualquier tipo de documento, fácilmente
        […] Tendríamos que ser capaces no solo de interaccionar con otras personas, sino crear con otras personas.
        [Berners-Lee 1999]</q></blockquote>
    </p>
    <p>Desde 2001, Tim Berners-Lee trabaja en el proyecto de la web semántica,que tiene como objetivo crear un medio
      universal para el intercambio de información significativa (semántica), de una forma comprensible para las
      máquinas, del contenido de los documentos de la Web. Con esto se pretende ampliar la interoperabilidad de los
      sistemas informáticos y reducir la mediación de los operadores humanos en los procesos inteligentes de flujo de
      información. La misma concepción de la web como medio universal de presentación tenía la orientación de que fuera
      interpretable por los humanos y, por lo tanto, tiene una orientación visual. Este aspecto resta capacidad para el
      intercambio de información entre máquinas reduciendo las posibilidades de acceso a la información de forma
      sistemática e industrializada.</p>
    <p>Berners-Lee es el presidente del Open Data Institute,que cofundó con Nigel Shadbolt in 2012.</p>
    <h2 id="controversiaSobre">Controversia sobre nombres de dominio</h2>
    <p>
      En el pasado, Berners-Lee se opuso a la creación de nombres de dominio nuevos como el '.mobi'. De hecho, cuando el
      '.mobi ' nació, él era uno de sus detractores.Él argumentó que todo el mundo debería acceder a las mismas web,
      independientemente de si usase un ordenador o un móvil.Básicamente lo que no le gustaba a Berners-Lee del '.mobi'
      es que este sería para que se accediese únicamente con los móviles, ya que él desarrolló la web como una forma de
      comunicación universal y no veía necesario el desarrollo del '.mobi' únicamente para el uso en móviles.17
    </p>
    <p>
      También hubo una pelea entre diferentes gobiernos y el ICANN sobre la propiedad de los nombres de los dominios,
      sobre todo con el ".com". Berners-Lee apoya que nadie tenga los nombres de los dominios, sino que estos sean un
      recurso público.[cita requerida] Berners-Lee también dejó claro que el nombre o la propiedad de los dominios no
      era el aspecto más importante en el proceso de estandarización, sino que eran más importantes los estándares de
      vídeo, codificación, estándares abiertos de comunicación de datos, subida de datos científicos y clínicos o la
      propagación de información entre países.
    </p>
    <h2 id="publicaciones">Publicaciones</h2>
    <p>Berners-Lee ha publicado artículos científicos en las revistas más prestigiosas como Nature o Scientific
      American.Destacan dos libros:</p>
    <ul>
      <li>Berners-Lee, Tim; Mark Fischetti (1999). Weaving the Web: The Original Design and Ultimate Destiny of the
        World Wide Web by its inventor. Britain: Orion Business. ISBN 0-7528-2090-7.</li>
      <li>Berners-Lee, Tim; Wendy Hall, James A. Hendler (2006). A Framework for Web Science. United States of America:
        Now Publishers. ISBN 1-933019-33-6.</li>
    </ul>
    <p>Otras publicaciones importantes:</p>
    <ul>
      <li>Tim Berners-Lee (1994). Universal Resource Identifiers used in the World Wide Web (RFC 1630,) (en inglés).
        Internet Society.</li>
      <li>Tim Berners-Lee, (Winter 1996). «Europe And the Info Age». Time Magazine </li>
      <li>Tim Berners-Lee, (Oct. 1997). «Spinning the Web: A place for everything, and everything on the Web?». Data
        Communications (en inglés) 26 (No. 14).</li>
      <li>Tim Berners-Lee and James Hendler (April 26 2001). «Publishing on the Semantic Web». Nature (en inglés):
        1023-1025.</li>
      <li>Tim Berners-Lee, James Hendler and Ora Lassila (May 2001). «The Semantic Web». Scientific American (en
        inglés): 29-37.</li>
      <li>James Hendler, Tim Berners-Lee and Eric Miller (October, 2002). «Integrating Applications on the Semantic
        Web». Journal of the Institute of Electrical Engineers of Japan (en inglés). 122(10): 676-680.</li>
    </ul>
  </div>
  <div><a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee">Fuente: Wikipedia</a></div>
</body>

</html>