<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heroes | Clarke</title>
  <link rel="stylesheet" href="/css/clarke.css">
</head>
<body>
  <h1 id="titulo">CLARKE</h1>
  <nav id="navSubtitulos">
    <a class="subtitulos" href="/"> Home </a>
    <a class="subtitulos" href="/babbage"> Babbage </a>
    <a class="subtitulos" href="/berners-lee"> Berners-Lee </a>
    <a class="subtitulos" href="/clarke"> Clarke </a>
    <a class="subtitulos" href="/hamilton"> Hamilton </a>
    <a class="subtitulos" href="/hopper"> Hopper </a>
    <a class="subtitulos" href="/turing"> Turing </a>
    <a class="subtitulos" href="/lovelace"> Lovelace </a>
  </nav>
  <div id="imagenClarke"><img src="/img/clarke.jpg" alt=""></div>
</body>
</html>