<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DH-Heroes</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <h1 id="titulo" >BIENVENIDOS A HEROES</h1>
  <nav id="navSubtitulos">
    <a class="subtitulos" href="/"> Home </a>
    <a class="subtitulos" href="/babbage"> Babbage </a>
    <a class="subtitulos" href="/berners-lee"> Berners-Lee </a>
    <a class="subtitulos" href="/clarke"> Clarke </a>
    <a class="subtitulos" href="/hamilton"> Hamilton </a>
    <a class="subtitulos" href="/hopper"> Hopper </a>
    <a class="subtitulos" href="/turing"> Turing </a>
    <a class="subtitulos" href="/lovelace"> Lovelace </a>
  </nav>
  <div id="imagenesInicio">
    <a  href="/babbage"> <img src="/img/babbage.jpg" alt="" class="imagenesDeInicio"> </a>
    <a  href="/berners-lee"> <img src="/img/berners-lee.jpg" alt="" class="imagenesDeInicio"></a>
    <a  href="/clarke"> <img src="/img/clarke.jpg" alt="" class="imagenesDeInicio"> </a>
    <a  href="/hamilton"> <img src="/img/hamilton.jpg" alt="" class="imagenesDeInicio"> </a>
    <a  href="/hopper"> <img src="/img/hopper.jpg" alt="" class="imagenesDeInicio"> </a>
    <a  href="/turing"> <img src="/img/turing.jpg" alt="" class="imagenesDeInicio"> </a>
    <a  href="/lovelace"> <img src="/img/lovelace.jpg" alt="" class="imagenesDeInicio"> </a>
  </div>

</html>